@media only screen and (max-width: 640px) {

    .container-body {
        width: 100%;
        margin: 0;
    }

    #container {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        max-width: 100%;
    }
    
    /* header {
        margin-left: 0;
        margin-right: 0;
    } */

    /* #header {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    } */
    
    h1 {
        width: 100%;
       
    }

    .wrapper {
        float: left;
        width: 100%;
        background-color: #333;
        text-align: center;
        
    }
    
    /* .navbar {
        border-bottom: 1px solid darkslategray;
    } */

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        float: none;
        display: inline-block;
      }
      

   }
      
    .active, .space {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
      } 


    
    .container {
        margin: auto;
        max-width: 94%;
        /* margin-bottom: 40px; */
        padding: 35px;
    }
    
    h3 {
        border-bottom: 1px solid darkslategray;
        padding-bottom: 5px;
       
    }

    .card {
        border: none;
        width: 100%;
        
    }

    .btn {
        background-color: darkslategray;
    }

    .button-color {
        color: #fff;
    }

/* .img-fluid {
    height: auto;
    width: 98%;
    padding-bottom: 20px;
    padding-top: 15px; 
}*/


  

    .box{
        position: relative;
        display: inline-block; /* Make the width of box same as image */
        overflow: hidden;
        padding: 40px;
        
    }
    .box .text{
        position: absolute;
        background-color: gray;
        z-index: 999;
        margin: 0 auto;
        text-align: center;
        left: 0;
        right: 0;
        top: 70%;  /*Adjust this value to move the positioned div up and down  */
        width: 320px; /*Set the width of the positioned div */
    }
    
    p {
        padding-bottom: 10px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .p1 {
        padding-top: 15px;
    }
    
    #sticky-footer {
        background-color: darkslategray;
        text-align: center;
        padding: 20px;
        border-top: 5px solid gray;
        color: #fff;
    }
    
    .footer-text {
            font-size: 12px;
    }
    
    /* .wrapper {
        width: 100%;
    } */
    
